<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="vh-100 bg-white border-end shadow-sm p-3"
     th:fragment="sidebar">

    <div class="mb-4">
        <h6 class="text-uppercase text-secondary fw-semibold mb-2">
            Workspace
        </h6>

        <ul class="nav nav-pills flex-column gap-1">

            <li class="nav-item">
                <a class="nav-link active bg-primary text-white"
                   href="/dashboard">
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="/teams">
                    Teams
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="/projects">
                    Projects
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="/projects?status=ARCHIVED">
                    Archived Projects
                </a>
            </li>

        </ul>
    </div>

    <hr>

    <div>
        <h6 class="text-uppercase text-secondary fw-semibold mb-2">
            Insights
        </h6>

        <ul class="nav nav-pills flex-column gap-1">
            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="/dashboard">
                    Overview
                </a>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
